
@media (max-width: 1200px) {
    .mac-img{
        width: 550px;
        height: 400px;
    }
}
@media (max-width: 992px) {
    .menu{
        display: none;
    }

    .burger-menu_button{
        display: block;
    }
    .mac-img{
        width: 800px;
        height: 500px;
    }
    .burger-menu{
        display: block;
    }


}
@media (max-width: 776px) {

    .titles{
        font-size: 38px;
    }
    .mac-img {
        width: 500px;
        height: 400px;
    }

    .About-Us__subtitle {
        font-size: 18px;
        margin-left: 20px;
    }

    .About-Us__title {
        font-size: 24px;
        margin-left: 20px;
    }

    .About-Us__title_description {
        font-size: 16px;
        margin-left: 20px;
    }

    .About-Us__list {
        font-size: 16px;
        margin-left: 20px;
    }

}
@media (max-width: 586px){
    .col-md-12{
        width: 100%;
    }
    .titles{
        font-size: 30px;
    }
}